@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    

    &::-webkit-scrollbar{
        display: none;
    }
}
a, h2 {
    color: white;
}

$bg: rgb(16, 16,16);


.header{
    height: 110px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;

    > img {
        height: 100%;
    }
    >div{
       
        width: 100%;
        margin-left: 4vmax;

        > a {
            margin: 1.2vmax;
            font-size: 1.3rem;
            font-weight: 300;

            &:hover{
                color: rgb(216, 216, 216);
            }
        }
    }

        >svg {
            color: white;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover{
                color: rgb(216, 216, 216);
            }
        }


}
